.login-card{
  max-width: 30rem;
  width: 100%;
  max-height: 35rem;
  height: 100%;
  border-radius: 0.75rem;
}

.login-image {
  max-height: 12rem;
  height: 100%;
  width: 100%;
  border-radius: 0.75rem;
}

.login-btn {
  border: 0;
  padding: 0.6rem;
  transition: all 0.2s ease;
}

.login-btn:hover {
  background-color: #8a51b6;
  transform: translateY(-1px);
}
