.login-card{
  width: 30rem;
  height: 35rem;
  border-radius: 0.75rem;
}

.login-image {
  height: 12rem;
  width: 100%;
  border-radius: 0.75rem;
}

.login-btn {
  background-color: #7338a0;
  border-color: #7338a0;
  padding: 0.6rem;
  font-weight: 500;
  transition: all 0.2s ease;
}

.login-btn:hover {
  background-color: #895b96;
  border: 0;
  transform: translateY(-1px);
}
