<div class="login-wrapper">
  <div class="card login-card">
    <div class="image-wrapper">
      <img
      src="assets/river.jpg"
      class="card-img-top login-image"
      alt="Sign In"
    />
    <div class="image-overlay"></div>
    </div>
    
    <div class="card-body">
      <h4 class="card-title text-center mb-4">Sign In</h4>
        <form>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="d-grid">
            <button type="submit" class="btn login-btn">Login</button>
          </div>
          <!-- Sign up -->
          <div class="text-center signup-text">
            <span>Don’t have an account?</span>
            <a href="#" class="signup-link ms-1">Sign up</a>
          </div>
        </form>
    </div>
  </div>
</div>